body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  text-align: center;
  background-image: url(img/bg.webp);
}
#table-mahasiswa {
  border-collapse: collapse;
}
#table-mahasiswa tr td {
  padding: 15px;
}
.link {
  text-decoration: none;
}
